.CategoryManager{
  width: 300px;
  
  .categoryList li {
    padding: 10px;
    border: 1px solid grey;
    border-top: 0;
  }

  ul.subCategoryList {
    margin-top: 10px;
  }

  .subCategoryList li {
    padding-right: 0;
  }

  li:first-child {
    border: 1px solid grey;
  }

  .category {
    display: flex;
    height: 30px;
    line-height: 30px;

    span {
      flex-grow: 1;
    }

    button {
      margin-right:5px;
      flex-shrink: 0;
      align-self: flex-end;
    }
  }
}