
.PostEditor{
  height: inherit;
  display: flex;
  width: 100%;

  .Editor {
    position: relative;
    flex: 0.5 1 0%;
    display: flex;
    
    border: 1px solid rgb(0, 0, 0);

    .react-codemirror2{
      display: flex;
      flex: 1 1;

      .CodeMirror{
        display: flex;
        flex: 1 1;
        height: auto;

        .CodeMirror-scroll{
          width: 100%;
        }
      }
    }
  }

  .Preview {
    flex: 0.5 1 0%;
    min-height: 100%;
    overflow: scroll;
    background-color: white;
  }
}