.PostEditor{
  height:100%;
  min-height: 400px;
  display: flex;
  flex-direction: row;

  .Editor {
    width: 50%;
    border: 1px solid rgb(0, 0, 0);
  }

  .Preview {
    width: 50%;
    min-height: 100%;
    border: 1px solid rgb(0, 0, 255);
  }

  .CodeMirror-scroll {
    min-height: 400px;
    max-height: 600px;
  }
}