.header-menu-wrapper {
  display: flex;
  margin-right: 10px;
  justify-content: flex-end;

  button {
    background-color: #33b3c4;
    border: 0;
    border-radius: 0;
  }

  button, .toggle-button {
    margin-left: 4px;
  }

  button:hover {
    background-color: #47c4d4;
  }
}

@media (min-width: 800px) {
  .header-menu-wrapper {
    margin-right: auto;
    justify-content: flex-start;
  }
}


.header-toggle-menu {

  .menu-list {    
    background-color: rgb(69, 140, 207);

    text-align: right;

    a {
      color: white;
      padding: 5px 10px;
    }

    a:hover {
      background-color: rgb(238, 124, 124);
    }
  }
}