@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
  padding-left: 10px;

  display:flex;
  flex-direction: row;

  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;

  .main-content {
    flex-grow: 1;
    max-width: 100%;
    word-wrap: break-word;
  }
  .main-nav {
    flex-shrink: 0;
    position: relative;

    .main-nav-container {
      position: absolute;
      top: calc(100vh - 300px);
      left: 30px;

      .main-nav-button-groups{
        position: fixed;
        display: flex;
        flex-direction: column;

        button {
          color: black;
          margin-top: 3px;
        }
      }
    }
  }
}

.side {
  grid-area: sidebar;
  display: flex;
  justify-content: center;
}

.main-footer {
  grid-area: footer;
  text-align: center;
  font-size: medium;

  align-self: end;
}

.App {
  height: 100%;
  display: grid;
  grid-gap: 1px;
  grid-template-rows: 70px 1fr 4fr 50px;
  grid-template-areas:
    'header'
    'sidebar'
    'content'
    'footer';
}

@media (min-width: 500px) {
  .App {
    grid-template-columns: 150px 3fr;
    grid-template-rows: 70px 4fr 50px;
    grid-template-areas:
      'header  header'
      'sidebar content'
      'footer footer';
  }
}

@media (min-width: 980px) {
  .App {
    grid-template-columns: 1fr 200px 700px 200px 1fr;
    grid-template-rows: 70px 4fr 50px;

    grid-template-areas:
      'header header header  header   header'
      '.      .      content sidebar .'
      'footer footer footer  footer  footer';
  }
}
