.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
  padding-left: 150px;
}

.side {
  grid-area: sidebar;
  display: flex;
  justify-content: center;
  background-color: rgba(165, 182, 199, 0.644);
}

.main-footer {
  grid-area: footer;
  text-align: center;
  font-size: medium;

  align-self: end;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-gap: 1px;
  grid-template-rows: 100px 1fr 4fr 50px;
  grid-template-areas:
    'header'
    'sidebar'
    'content'
    'footer';
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 150px 3fr;
    grid-template-rows: 100px 4fr 50px;
    grid-template-areas:
      'header  header'
      'sidebar content'
      'footer footer';
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 4fr 200px;
    grid-template-rows: 100px 4fr 50px;

    grid-template-areas:
      'header  header'
      'content sidebar'
      'footer  footer';
  }
}
