ul.ChildCommentList{
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;  

  li{
    background-color: #ffffff;
    border: 1px solid #afb3b8;
    border-top: none;
  }

  li:first-child {
    border-top: 1px solid #afb3b8;
  }
}