.CommentListItem{
  border: 0.5px solid grey;
  padding: 5px;
  background-color: #f7f5f5b4;

  .addReply {
    margin-top: -2px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .comment-button-group {
    display: flex;
    justify-content: flex-end;
  }
}