.WriteComment{
  padding-top: 5px;

  .write-comment-button-group{
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;

    button{
      color: white;
      background-color: #43c3d4;
    }
  }
}