.hoverable {
  position: relative;

  .on-hover {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10%,-100%);
    z-index: 1;

    max-height: 500px;
    overflow-y: scroll;
  }
}